html, body {
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 10px;
    color: #ffffff;
    background-image: radial-gradient(circle, #001b40, #000000);
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-y;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, #001b40, #000000);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Futura', sans-serif;
    box-sizing: border-box;
}

.mainPage {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    /* overflow: hidden; */
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mainTitle {
    font-size: 5rem;
    margin-left: 20px;
}

input[type="text"] {
    font-size: large;
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

input[type="text"]:focus {
    outline: none;
    border: 2px solid #0056b3;
    box-shadow: 0 0 5px rgba(0,86,179,0.5);
}

button {
    background-image: radial-gradient(circle, #0056b3, #0084ff);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover, button:focus {
    background-image: radial-gradient(circle, #007bff, #0056b3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    outline: none;
}

@media (max-width: 384px) {
    .mainPage {
        padding: 5px;
        margin: 5px;
        max-width: 100%;
    }

    body, html {
        padding: 0;
    }

    .mainTitle {
        font-size: 3rem;
    }

    .header {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .mainPage {
        padding: 10px;
        margin: 10px;
        max-width: 100%;
    }

    body, html {
        padding: 0;
    }

    .mainTitle {
        font-size: 4rem;
    }

    .header {
        flex-direction: column;
    }
}

@media (min-width: 1024px) {
    input[type="text"] {
        font-size: x-large;
    }

    .mainTitle {
        font-size: 5rem;
    }
}
